[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
scikit-learn = "*"
numpy = "*"
colormath = "*"
plotly = "*"
jupyterlab = "*"
ipywidgets = "*"
sympy = "*"

[requires]
python_version = "3.7"
